body {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e8f5ff;
}

header {
    height: 100px;
    width: 100vw;
    background-color: #d3e7f5;
    align-items: center;
    position: relative;
}

header h1 {
    float: left;
    padding-left: 8%;
    font-family: Verdana;
    text-decoration:none;
}

p {
    font-family: Verdana;
}
#leftHeader {
    float: left;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;   
}

#internetStatus {
    float: left;
    padding-top: 18px;
    padding-left: 20px;
    font-family: Verdana;
}

#rightHeader {
    text-align:right;
    position: absolute;
    width:50%;
    
}
#rightTable {
    float:right;
    padding-right: 50px;
}

#searchDiv {
    padding-right:3.5%;
    width:46%;
    display:block;
    float:left;
    
}

#searchBy { /*text box*/
    float:left;
    width:70%;
    padding:10px;
}


#searchByWhat, #searchByWhatEditor { /*button for above text box, and it's duplicate on the editor page */
    display:block;
    width:20%;
    padding:9px;
    text-align: center;
    border-radius: 3px;
    color:black;

}

.inline {
    display: inline-block;

}

#localFrame {
    width: 95%;
    background-color: #b5d3e8;
    display: block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 20px;
}

#localFrame p {
    padding-left: 10px;
    padding-top: 10px;
    display:inline-block;
}

#localPage {
    padding-left:0;
    margin-left: 10px;
    font-size: 18px;
}

#currentPage {
    width:95%;
    overflow:scroll;
    background-color: white;
    position:relative;
    margin:auto;
    padding:10px;

}



.newPageButton, .backB, .editLink, .viewButton, .editPage, #button_save, #button_modify_title, #button_update {
    /*Back button that appears on single page viewer*/
    display: inline-block;
    width: 70px;
    padding: 9px;
    text-align: center;
    color: black;
    background-color: #ebf1f2;
    border-top: 2px solid #f5f5f5;
    border-right: 2px solid #6c7a80;
    border-bottom: 2px solid #6c7a80;
    border-left: 2px solid #f5f5f5;
    font-family: Verdana;
    font-size: 12px;
    margin-left: 22px;
    margin-top:10px;
}
.newPageButton {
    width:110px;
    float:right;
    margin-top: 25px;
    margin-right:10px;
}

.editLink, .editPage {
    /*Edit 'button' is actually just a link*/
    width: 50px;
    text-decoration: none;
    margin-left: 20px;
}

.viewButton, .editPage, #button_save, #button_update {
    float:right;
    margin-right:20px
}


#button_modify_title{
    width: 110px;
    margin-left: 50px;
}

.pageDetails {
    width: 95%;
    box-shadow: 5px 5px 2px #4d636b;
    background-color: #d5e5eb;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
}

    .pageDetails h2 {
        font-family: Verdana;
        font-size: 14px;
    }
    .pageDetails p {
        font-family: Verdana;
        font-size: 14px;
    }