body {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e8f5ff;
}

header {
    height: 80px;
    width: 100vw;
    background-color: #d3e7f5;
    align-items: center;
    position: relative;
}

h1 {
    float: left;
    padding-left: 25px;
    font-family: "Lucida Console", Monaco, monospace;
}

p {
    font-family: "Lucida Console", Monaco, monospace;
}
#leftHeader {
    float: left;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;   
}

#internetStatus {
    float: left;
    padding-top: 18px;
    padding-left: 20px;
    font-family: "Lucida Console", Monaco, monospace;
}

#rightHeader {
    text-align:right;
    position: absolute;
    width:50%;
    
}
#rightTable {
    float:right;
    padding-right: 50px;
}

#currentPBWiki {
    font-family: "Lucida Console", Monaco, monospace;
}

.inline {
    display: inline-block;

}

#localFrame {
    width: 93%;
    background-color: #b5d3e8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

#localFrame p {
    padding-left: 10px;
    padding-top: 10px;
}

#currentPage {
    width:100%;
    overflow:scroll;
    background-color: white;

}