html, body {
    width: auto;
    height: auto;
}

.hidden {
    display: none;
}

#addon_title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#internet_status_outside {
    font-size: 16px;
    text-align: center;
}

Button {
    background: rgb(43,116,173);
    background: linear-gradient(0deg, rgba(43,116,173,1) 0%, rgba(135,179,213,1) 75%);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #2b74ad;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
    text-align: center;
    width: 70%;
    margin: 5px 5px 5px 15%;
}

Button:hover {
    background: rgb(1,21,37);
    background: linear-gradient(0deg, rgba(1,21,37,1) 0%, rgba(43,116,173,1) 75%);

}

Button:active {
    position: relative;
    top: 1px;
}

.unavailable {
    opacity: 0.3;
}

.unavailable:hover {
    opacity: 0.3;
    background: rgb(43,116,173);
    background: linear-gradient(0deg, rgba(43,116,173,1) 0%, rgba(135,179,213,1) 75%);
}